<!--<script type="text/javascript">
    function openMenu(id) {
        overlay = document.getElementById("overlay");
        if (document.getElementById(id).style.display == "none"){
            document.getElementById(id).style.display = "block";
            overlay.style.display = "block";
        } else {
            document.getElementById(id).style.display = "none";
            overlay.style.display = "none";
        }
    }
</script>
<script type="text/javascript">
    function openMenu(id) {
        overlay = document.getElementById("overlay");
        if (document.getElementById(id).style.display == "none"){
            document.getElementById(id).style.display = "block";
            overlay.style.display = "block";
        } else {
            document.getElementById(id).style.display = "none";
            overlay.style.display = "none";
        }
    }
</script> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<body>
<div id="wrap">

  <%=render '/vnew/left_menu.html.erb'
     render '/vnew/header.html.erb'
  %>
    <div id="main">
      <div id="slider1">
        <a href="#"></a>
      </div>
      <div id="slider1">
        <a href="#"><img src="img/slider.jpg"/></a>
      </div>
      <div id="main_center">
        <div id="link">
          <a href="#"><img src="/cat.jpg"/></a>
          <div><a href="#">Открыть каталог</a></div>
        </div>
        <div id="link">
          <a href="#"><img src="/images/inst.jpg"/></a>
          <div><a href="#">Наши работы</a></div>
        </div>
        <div id="link">
          <a href="#"><img src="img/sale.jpg"/></a>
          <div><a href="#">Скидки</a></div>
        </div>
      </div>
    </div>
  <div id="footer">

  </div>
</div>
</body>
</html>