@media screen and (max-width: 980px) and (min-width: 800px) {
#main_center {
   max-height: 100%;
   min-height: 350px;
   height: auto;
   text-align: center;
   margin: 30 auto;
   max-width: 100%;
   width: auto;
   display: inline-block;
   padding: 10px;
}

   #main_center div {
     width: 260px;
     height: 140px;
      float: left;
      margin: 0 5px 20px 5px;
     top: 0; left: 0; bottom: 0; right: 0;
     position: relative;   
   }
   
   #header_bottom ul {
      display: none;
   }
   
   #touch_menu {
      display: block;
   }
   
 /*  #touch_menu:focus ~ #sub_menu, 
   #touch_menu:active ~ #sub_menu, 
   #sub_menu:hover 
   { 
     display: block; 
   } */
}